---
// Supports weights 100-900
import "@fontsource-variable/montserrat";
import Header from "../components/organisms/Header.astro";
import ParallaxBg from "../components/molecules/ParallaxBg.astro";
import Wrapper from "../components/atoms/Wrapper.astro";
import Hero from "../components/organisms/Hero.astro";
import News from "../components/organisms/News.astro";
import Features from "../components/organisms/Features.astro";
import Topics from "../components/organisms/Topics.astro";
import Foundation from "../components/organisms/Foundation.astro";
import Sponsors from "../components/organisms/Sponsors.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Godot Engine - Free and open source 2D and 3D game engine</title>
		<style>
			body {
				font-family: "Montserrat Variable", sans-serif;
			}
		</style>
	</head>
	<body>
		<div class="bg-[#25282b]">
			<ParallaxBg
				path="https://godotengine.org/assets/showcase/cassette-beasts-3.webp"
			>
				<div class="bg-neutral-50 bg-opacity-10 backdrop-blur-md">
					<Wrapper>
						<Header />
					</Wrapper>
				</div>
				<Wrapper>
					<Hero />
				</Wrapper>
			</ParallaxBg>
			<Wrapper>
				<News />
				<Features />
				<Topics />
			</Wrapper>
			<Foundation />
			<Wrapper>
				<Sponsors/>
			</Wrapper>
			<footer class="bg-zinc-700 py-6">
				<span class="text-white w-max block mx-auto text-center">
					Clone made by <a class="text-blue-500 underline" target="_blank" href="https://github.com/Numonu">Numonu</a>
				</span>
			</footer>
			<script
				src="https://kit.fontawesome.com/65a19dc040.js"
				crossorigin="anonymous"></script>
		</div>
	</body>
</html>
