<li class="flex items-center">
	<a
		class="text-red-400 border-red-400 inline-block px-[1.5rem] py-[0.75rem] font-bold capitalize xl:px-3 xl:py-2 xl:my-2 xl:bg-zinc-800 xl:rounded-lg xl:border-2"
		href="#"
	>
		<span>
			<i class="fa-solid fa-heart"></i>
			 Donate
		</span>
	</a>
</li>
