---
interface Props {
	url: string;
}
const { url } = Astro.props;
---

<a href="#">
	<figure class="bg-[#e2ebfa] hover:bg-white rounded-lg py-6">
		<img
			class="mix-blend-multiply mx-auto aspect-[25/9] w-1/2 object-contain"
			src={url}
			alt="some image"
		/>
	</figure>
</a>
