---
import GodotBtn from "../atoms/GodotBtn.astro";
---

<section class="bg-[#263256] py-24 mb-12">
	<article class="mx-auto md:w-[45%] flex flex-col items-center">
		<figure>
			<img
				class="mx-auto w-[60%]"
				src="https://godotengine.org/assets/home/foundation/godot-foundation-logo-dark.svg"
				alt="some svg"
			/>
		</figure>
		<div class="text-center">
			<p class="text-neutral-300 mx-auto w-[90%] mb-6">
				You don't need to be an engine developer to help Godot. join the

				<a class="text-cyan-200 underline" href="#">development fund</a>
				 and help us make the Godot Engine even more awesome!
			</p>
			<div class="mx-auto">
				<GodotBtn>Donate</GodotBtn>
			</div>
		</div>
	</article>
</section>
